*{
	box-syzinng:border-box;
}
body{
	background-color:black;
	color:white;
}

.en{
	border-style: solid;
	border-color: white;
	border-width:5px;
	padding:20px;
	float:left;
	width:45%; /*the width is 20% by default */
	color:white;
	border-radius:20px;
	transition:transform .2s;
	text-align:center;
}
.port{
	border-style: solid;
	border-color: white;
	border-width:5px;
	padding:20px;
	float:right;
	width:45%;
	color:white;
	border-radius:20px;
	transition: transform .2s;
	margin: 1px;
	text-align:center;
}
.port a {
	text-decoration: none;
	color:white;
}
.port:hover{
	background-color:white;
	color:black;
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
port a:hover{
	color:black; /*(NOT WORKING)*/	
}
.en:hover{
	background-color:white;
	color:black;
	transform: scale(1.1);
}
@media screen and (max-width:800px){
	.en, .port{
	width:100%;/*width 100% when the screen is 800px or smaller*/	
	}
	.port{
		float:left;
	}
}
