.content{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 94%;
	background-color:white;
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.mainFootage{
	color:#4A148C;
	display: flex;
}
.leftColumn{
	width:20%;
	border-right: 1px solid #4A148C;
	height:75%;
	text-align:center;

}
.rightColumn{
	width:80%;
	height:75%;
	text-align:center;
	
}
.topHeader{
  background-color: #3d00e0;
  color: #d4bff9;
  margin: 0px;
  padding: 5px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;

}
.topHeader h1{
  font-size: 30px;
}
.navBar{
  background-color: #5300e8;
  padding: 5px;
  color: #efe5fd;
  text-align: center;
}
.navBar a{
  padding-left: 50px;
}
body{
	background-color: #EEEEEE;
}
.backHeader{
	background-image: url("header.jpg");
	position: absolute;
	width:99.4%;	
	left: 0px;
	height:50%;
	z-index: -1;
	padding: 5px;
	}
